<h1 data-controller="hello" class="text-5xl text-bold text-indigo-600">Susan is where</h1>
<p class="test-class ">Find us in app/views/home/index.html.erb</p>
                                   
<hello-component/>